@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
header .dark {
  background-color: #000;
}
header #hhhhhh-btn {
  border-radius: 10px;
  width: 80px;
  height: 50px;
  background-color: orange;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s linear;
  font-size: 20px;
  font-weight: 500;
  line-height: 29.38px;
  text-align: left;
  padding-left: 20px;
}
header #hhhhhh-btn:hover {
  background-color: gray;
}
header #hhhhhh-btn:active {
  transform: scale(0.5);
}
header .dark * {
  color: #fff;
  background: #000;
}
header .sidebar {
  background: #1B1A18;
  display: none;
  position: relative;
  z-index: 9999;
}
header .sidebar .sidebar-logo {
  font-size: 32px;
  padding-top: 10px;
  color: #fff;
}
header .sidebar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-left: -350px;
}
header .sidebar ul p {
  font-size: 32px;
}
header .sidebar ul button {
  padding: 10px 120px;
  border: 1px solid #0076F5;
  border-radius: 10px;
}
header .sidebar ul button:hover {
  background-color: #F5FAFF;
  color: #1B1A18;
}
header .sidebar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}
header .sidebar ul li a:hover {
  text-decoration: underline;
}
header .sidebar input {
  width: 40px;
  aspect-ratio: 1;
  display: none;
  overflow: hidden;
  margin: 10px 20px 10px auto;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
header .sidebar input::before, header .sidebar input::after {
  content: "";
  grid-area: 1/1;
  transition: 0.3s;
}
header .sidebar input::before {
  background: radial-gradient(closest-side at 12.5% 25%, #fff 96%, rgba(0, 0, 0, 0)) 0 0/80% 40%, linear-gradient(#fff 50%, rgba(0, 0, 0, 0) 0) top/80% 40% repeat-y;
}
header .sidebar input::after {
  padding: 10%;
  background: radial-gradient(closest-side at 50% 12.5%, #fff 96%, rgba(0, 0, 0, 0)) top/20% 80% repeat-y, radial-gradient(closest-side at 12.5% 50%, #fff 96%, rgba(0, 0, 0, 0)) left/80% 20% repeat-x, conic-gradient(from 90deg at 33% 33%, rgba(0, 0, 0, 0) 90deg, #fff 0) 100% 100%/60% 60% padding-box content-box;
  transform: translate(-100%) translateZ(0) rotate(45deg);
  opacity: 0;
}
header .sidebar input:checked::before {
  transform: translate(100%);
  opacity: 0;
}
header .sidebar input:checked::after {
  transform: translate(0) translateZ(0) rotate(45deg);
  opacity: 1;
}
header nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 207px;
}
header nav .container p {
  font-family: Fira Code;
  font-size: 33px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.06em;
  text-align: left;
}
header nav .container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
header nav .container ul li a {
  color: #1B1A18;
  transition: all 0.5s;
}
header nav .container ul li a:hover {
  color: #0076F5;
}
header nav .container button {
  padding: 12px 36px;
  border: 1px solid #0076F5;
  border-radius: 10px;
}

header .header-content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 207px;
}
header .header-content .container .image-container {
  display: flex;
  gap: 30px;
}
header .header-content .container .image-container .image-slice {
  width: 226px;
  height: 605px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  position: relative;
}
header .header-content .container .image-container .bg-one {
  background: url(../../../img/background.jpg);
  background-size: cover;
  background-position-x: 30%;
  width: 100%;
  height: 100%;
}
header .header-content .container .image-container .bg-three {
  background: url(../../../img/background.jpg);
  background-size: cover;
  background-position-x: right;
  width: 100%;
  height: 100%;
}
header .header-content .container .image-slice-m {
  margin-top: 50px;
}
header .header-content .container .image-slice-m .bg-two {
  background: url(../../../img/background.jpg);
  background-size: cover;
  background-position-x: 55%;
  scale: 1.4;
  width: 100%;
  height: 100%;
}
header .header-content .container .header-description h1 {
  font-family: Fira Code;
  font-size: 79px;
  font-weight: 500;
  line-height: 88px;
  letter-spacing: -0.08em;
  text-align: left;
}
header .header-content .container .header-description .buttons {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}
header .header-content .container .header-description .buttons button {
  padding: 12px 91px;
  border: 1px solid #0076F5;
  border-radius: 10px;
}

main #statistika .container .statistika-cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  gap: 30px;
  align-items: center;
  padding-bottom: 112px;
}
main #statistika .container .statistika-cards .statistika-card {
  width: 354px;
  height: 246px;
  padding-top: 32px;
  text-align: center;
  background: #F5FAFF;
  border-radius: 10px;
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.1490196078);
  transition: all 0.5s;
  cursor: pointer;
}
main #statistika .container .statistika-cards .statistika-card:hover {
  transform: translateY(-15px);
}
main #statistika .container .statistika-cards .statistika-card:active {
  transform: translateY(0);
}
main #statistika .container .statistika-cards .statistika-card h3 {
  font-family: Fira Code;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -0.06em;
  color: #1B1A18;
  padding-top: 24px;
}
main #statistika .container .statistika-cards .statistika-card p {
  font-family: Inter;
  font-size: 25px;
  font-weight: 400;
  line-height: 34px;
  color: #514D48;
}

main #aboutUs .container .aboutUs-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 142px;
  padding-bottom: 88px;
}
main #aboutUs .container .aboutUs-content .image-container {
  display: flex;
  gap: 30px;
}
main #aboutUs .container .aboutUs-content .image-container .image-slice {
  width: 354px;
  height: 550px;
  border-radius: 30px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
main #aboutUs .container .aboutUs-content .image-container .image-slice .bg-one {
  background: url(../../../img/about.png);
  background-size: cover;
  background-position-x: 30%;
  width: 100%;
  height: 100%;
}
main #aboutUs .container .aboutUs-content .image-container .image-slice .bg-three {
  background: url(../../../img/about.png);
  background-size: cover;
  width: 100%;
  height: 100%;
}
main #aboutUs .container .aboutUs-content .image-container .image-slice-m {
  margin-top: 29px;
}
main #aboutUs .container .aboutUs-content .image-container .image-slice {
  width: 354px;
  height: 550px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 10px 18px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}
main #aboutUs .container .aboutUs-content .image-container .image-slice:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}
main #aboutUs .container .aboutUs-content .image-container .image-slice:active {
  transform: scale(1);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
main #aboutUs .container .aboutUs-content .image-container .image-slice .bg-one, main #aboutUs .container .aboutUs-content .image-container .image-slice .bg-three {
  transition: transform 0.3s ease;
}
main #aboutUs .container .aboutUs-content .image-container .image-slice:hover .bg-one, main #aboutUs .container .aboutUs-content .image-container .image-slice:hover .bg-three {
  transform: scale(1.1);
}
main #aboutUs .container .aboutUs-content .aboutUs-description h3 {
  font-family: Inter;
  font-size: 25px;
  font-weight: 500;
  line-height: 34px;
  text-align: left;
  color: #1B1A18;
}
main #aboutUs .container .aboutUs-content .aboutUs-description p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #514D48;
}
main #aboutUs .container .aboutUs-content .aboutUs-description p:nth-child(2) {
  margin-top: 24px;
  margin-bottom: 16px;
}

main #kurslar .container .kurslar-cards {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding-bottom: 112px;
}
main #kurslar .container .kurslar-cards .kurslar-card {
  width: 482px;
  height: 528px;
  border-radius: 10px;
  padding: 40px;
  background: #F5FAFF;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
main #kurslar .container .kurslar-cards .kurslar-card:hover {
  transform: translateY(-15px);
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.1490196078);
}
main #kurslar .container .kurslar-cards .kurslar-card:active {
  transform: translateY(0);
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.1490196078);
}
main #kurslar .container .kurslar-cards .kurslar-card h3 {
  font-family: Inter;
  font-size: 25px;
  font-weight: 500;
  line-height: 34px;
  color: #1B1A18;
  margin-top: 18px;
  margin-bottom: 8px;
}
main #kurslar .container .kurslar-cards .kurslar-card p:nth-child(3) {
  margin-top: 12px;
  margin-bottom: 8px;
}
main #kurslar .container .kurslar-cards .kurslar-card p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #514D48;
}
main #kurslar .container .kurslar-cards .kurslar-card p span {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 8px;
}
main #kurslar .container .kurslar-cards .kurslar-card button {
  box-shadow: 4px 5px 20px 0px rgba(0, 118, 245, 0.4);
  border: 1px solid #0076F5;
  padding: 12px 69px;
  border-radius: 10px;
  margin-top: 24px;
}

main #darsliklar .container .darsliklar-cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  padding-bottom: 112px;
  align-items: center;
  gap: 30px;
}
main #darsliklar .container .darsliklar-cards .barchasi {
  display: none;
}
main #darsliklar .container .darsliklar-cards .darsliklar-card {
  width: 354px;
  height: 460px;
  padding-top: 32px;
  background: #F5FAFF;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 16px;
}
main #darsliklar .container .darsliklar-cards .darsliklar-card:hover {
  transform: translateY(-15px);
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.1490196078);
}
main #darsliklar .container .darsliklar-cards .darsliklar-card:active {
  transform: translateY(0);
}
main #darsliklar .container .darsliklar-cards .darsliklar-card:hover img {
  transform: scale(1.1);
  cursor: pointer;
}
main #darsliklar .container .darsliklar-cards .darsliklar-card img {
  margin-bottom: 16px;
  overflow: hidden;
  transition: transform 0.3s ease;
  position: relative;
}
main #darsliklar .container .darsliklar-cards .darsliklar-card p {
  margin-top: 8px;
  margin-bottom: 16px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #514D48;
}
main #darsliklar .container .darsliklar-cards .darsliklar-card button {
  padding: 12px 72px;
  border: 1px solid #0076F5;
  border-radius: 10px;
}

main #OurTeam {
  margin-bottom: 112px;
}
main #OurTeam .team-cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  gap: 30px;
}
main #OurTeam .team-cards .team-card {
  width: 354px;
  height: 476px;
  padding-top: 40px;
  background: #F5FAFF;
  border-radius: 10px;
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.1490196078);
  transition: all 0.5s;
}
main #OurTeam .team-cards .team-card:hover {
  transform: translateY(-15px);
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.1490196078);
}
main #OurTeam .team-cards .team-card:active {
  transform: translateY(0);
}
main #OurTeam .team-cards .team-card:hover img {
  transform: scale(1.1);
  cursor: pointer;
}
main #OurTeam .team-cards .team-card img {
  transition: transform 0.3s ease;
}
main #OurTeam .team-cards .team-card h3 {
  font-family: Inter;
  font-size: 25px;
  font-weight: 500;
  line-height: 34px;
  color: #1B1A18;
  margin-top: 16px;
}
main #OurTeam .team-cards .team-card span {
  font-family: Inter;
  font-size: 19px;
  font-weight: 400;
  line-height: 28px;
  cursor: pointer;
}
main #OurTeam .team-cards .team-card p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #514D48;
  width: 322px;
  margin-top: 16px;
  margin-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
}
main #OurTeam .team-cards .team-card .icons {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

main #sertificate .container {
  padding-bottom: 112px;
}
main #sertificate .container .sertificate-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main #sertificate .container .sertificate-content .sertificate-titles h3 {
  font-family: Inter;
  font-size: 25px;
  font-weight: 500;
  line-height: 34px;
  text-align: left;
  color: #1B1A18;
  margin-bottom: 16px;
}
main #sertificate .container .sertificate-content .sertificate-titles p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #514D48;
  width: 482px;
}

footer .footer-cards {
  border-top: 1px solid #CFCCC9;
  border-bottom: 1px solid #CFCCC9;
  padding: 48px 0;
}
footer .footer-cards .container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 166px;
}
footer .footer-cards .container .footer-card:nth-child(5) {
  display: none !important;
}
footer .footer-cards .container .footer-card .footer-card-title {
  font-family: Inter;
  font-size: 19px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #31344B;
  margin-bottom: 1px;
}
footer .footer-cards .container .footer-card ul li {
  margin-top: 23px;
}
footer .footer-cards .container .footer-card ul li a {
  color: #31344B;
}
footer .footer-cards .container .footer-card .footer-card-desc2 {
  margin-top: 23px;
  margin-bottom: 7px;
  width: 354px;
}
footer .footer-cards .container .footer-card input {
  display: block;
  padding: 12px 130px 12px 24px;
  border: 1px solid #8FC5FF;
  border-radius: 5px;
  margin-bottom: 16px;
}
footer .footer-cards .container .footer-card ::-moz-placeholder {
  color: #2990FF;
}
footer .footer-cards .container .footer-card ::placeholder {
  color: #2990FF;
}
footer .footer-cards .container .footer-card button {
  border: 1px solid #0076F5;
  padding: 12px 135px;
  border-radius: 10px;
}
footer .footer-cards .container .footer-card .footer-card-icons {
  display: flex;
  gap: 24px;
  margin-top: 27px;
}
footer .footer-box .container {
  padding: 40px 0;
  text-align: center;
}
footer .footer-box .container .footer-box-title {
  font-family: Fira Code;
  font-size: 33px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.06em;
  margin-bottom: 16px;
}
footer .footer-box .container p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #31344B;
}

@media (max-width: 1024px) {
  .container {
    padding: 21px 150px;
  }
  .section-title {
    font-size: 36px !important;
  }
  header nav .container {
    padding: 10px 50px !important;
  }
  header .header-content .container {
    padding: 10px !important;
  }
  header .header-content .container .header-description h1 {
    font-size: 49px !important;
  }
  header .header-content .container .image-slice {
    width: 126px !important;
    height: 505px !important;
  }
  header .header-content .container .image-slice div {
    width: 126px !important;
  }
  main .statistika .container {
    padding: 10px;
  }
  main .statistika .container .statistika-cards .statistika-card {
    width: 200px !important;
    height: 200px;
    padding-top: 20px;
  }
  main .statistika .container .statistika-cards .statistika-card h3 {
    font-family: Inter;
    font-size: 25px !important;
    font-weight: 500;
    line-height: 34px;
  }
  main .statistika .container .statistika-cards .statistika-card p {
    font-family: Inter;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 26px;
  }
  main .aboutUs .container {
    padding: 10px;
  }
  main .aboutUs .container .aboutUs-content {
    gap: 10px !important;
  }
  main .aboutUs .container .aboutUs-content .image-slice {
    width: 226px !important;
    height: 505px !important;
  }
  main .kurslar .container .kurslar-cards {
    display: grid;
    grid-template-columns: auto auto !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding-bottom: 112px;
  }
  main .darsliklar .container .darsliklar-cards {
    display: grid;
    grid-template-columns: auto auto !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding-bottom: 112px;
  }
  main .OurTeam .team-cards {
    display: grid;
    grid-template-columns: auto auto !important;
    justify-content: center;
    text-align: center;
    gap: 30px;
    padding-bottom: 112px;
  }
  main .sertificate .container {
    padding: 10px;
  }
  main .sertificate .container .sertificate-content img {
    width: 400px !important;
    height: 350px;
  }
  footer .footer-cards .container {
    padding: 10px !important;
    gap: 10px !important;
  }
  footer .footer-cards .container .footer-card-desc {
    width: 300px;
  }
}
@media (max-width: 768px) {
  header nav {
    display: none !important;
  }
  header .sidebar {
    display: flex;
  }
  header .sidebar ul {
    position: fixed;
    background: inherit;
    flex-direction: column;
    inset: 0 0 0;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transform: translate(-100%);
    opacity: 0;
    transition: 0.3s;
  }
  header .sidebar input {
    display: grid;
    z-index: 9999;
  }
  header .sidebar input:checked + ul {
    transform: translate(0);
    opacity: 1;
  }
  header .header-content .container {
    flex-direction: column;
    gap: 30px;
  }
  main .statistika .container {
    padding: 10px;
  }
  main .statistika .container .statistika-cards {
    display: grid;
    grid-template-columns: auto auto !important;
  }
  main .statistika .container .statistika-cards .statistika-card {
    width: 200px !important;
    height: 200px;
    padding-top: 20px;
  }
  main .statistika .container .statistika-cards .statistika-card h3 {
    font-family: Inter;
    font-size: 25px !important;
    font-weight: 500;
    line-height: 34px;
  }
  main .statistika .container .statistika-cards .statistika-card p {
    font-family: Inter;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 26px;
  }
  main .aboutUs .container {
    padding: 10px;
  }
  main .aboutUs .container .aboutUs-content {
    flex-direction: column;
    gap: 40px;
  }
  main .kurslar .container {
    padding: 10px !important;
  }
  main .kurslar .container .kurslar-cards {
    display: grid;
    grid-template-columns: auto !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding-bottom: 112px;
  }
  main .sertificate .container {
    padding: 10px;
  }
  main .sertificate .container .sertificate-content {
    flex-direction: column;
    gap: 40px;
  }
  footer .footer-cards .container {
    gap: 100px !important;
  }
  footer .footer-cards .container .footer-card:nth-child(1) {
    display: none;
  }
}
@media (max-width: 376px) {
  .section-titles button {
    display: none;
  }
  .section-titles .section-title {
    font-size: 33px;
  }
  header .header-content {
    padding-top: 48px;
  }
  header .header-content .container {
    flex-direction: column-reverse;
    gap: 24px;
  }
  header .header-content .container .image-container {
    gap: 13px !important;
  }
  header .header-content .container .image-container .image-slice {
    width: 101px !important;
    height: 273px !important;
  }
  header .header-content .container .image-container .image-slice div {
    width: 101px !important;
    height: 273px !important;
  }
  header .header-content .container .image-container .image-slice-m {
    margin-top: 25px;
  }
  header .header-content .container .header-description h1 {
    width: 365px;
    font-family: Fira Code;
    font-size: 33px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.06em;
  }
  header .header-content .container .header-description .buttons button {
    padding: 12px 41px;
  }
  header .sidebar ul {
    margin-left: 0;
  }
  header .sidebar ul p {
    color: #fff;
  }
  main .statistika .container {
    padding-top: 56px;
  }
  main .statistika .container .statistika-cards .statistika-card {
    width: 157px !important;
    height: 199px;
    padding-top: 32px 25px;
  }
  main .statistika .container .statistika-cards .statistika-card h3 {
    font-size: 24px !important;
  }
  main .statistika .container .statistika-cards .statistika-card p {
    font-size: 14px;
  }
  main .aboutUs .container .aboutUs-content {
    gap: 24px;
  }
  main .aboutUs .container .aboutUs-content .image-container .image-slice {
    width: 160px !important;
    height: 249px !important;
  }
  main .aboutUs .container .aboutUs-description {
    padding: 20px 0 !important;
  }
  main .aboutUs .container .aboutUs-description .aboutUs-desction-title {
    font-size: 19px !important;
  }
  main .aboutUs .container .aboutUs-description .aboutUs-desc {
    font-size: 14px !important;
    width: 334px;
  }
  main .kurslar .container .kurslar-cards {
    grid-template-columns: auto !important;
  }
  main .kurslar .container .kurslar-cards .kurslar-card {
    width: 335px !important;
    padding-bottom: 32px !important;
  }
  main .kurslar .container .kurslar-cards .kurslar-card img {
    width: 100px;
    height: 100px;
  }
  main .darsliklar .container {
    padding: 0 20px !important;
  }
  main .darsliklar .container .darsliklar-cards {
    grid-template-columns: auto !important;
  }
  main .darsliklar .container .darsliklar-cards .darsliklar-card {
    width: 335px !important;
    padding-bottom: 32px !important;
  }
  main .darsliklar .container .darsliklar-cards .darsliklar-card img {
    width: 319px;
    margin-left: -10px;
  }
  main .darsliklar .container .darsliklar-cards .darsliklar-card h3 {
    font-size: 19px !important;
    text-align: left;
  }
  main .darsliklar .container .darsliklar-cards .darsliklar-card p {
    font-size: 14px !important;
  }
  main .darsliklar .container .darsliklar-cards .darsliklar-card button {
    text-align: left;
    margin-left: -136px;
    padding: 12px 56px !important;
  }
  main .darsliklar .container .darsliklar-cards .darsliklar-card:nth-child(2),
  main .darsliklar .container .darsliklar-cards .darsliklar-card:nth-child(4) {
    display: none;
  }
  main .darsliklar .container .darsliklar-cards .barchasi {
    display: block !important;
    border: 1px solid #0076F5;
    color: #0076F5;
    padding: 12px 46px !important;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 156px;
  }
  main .darsliklar .container .darsliklar-cards .barchasi:hover {
    background-color: #0076F5;
    color: #fff;
  }
  main .darsliklar .container .darsliklar-cards .barchasi:active {
    background-color: #0076F5;
    color: #fff;
  }
  main .OurTeam .container {
    padding: 0 20px !important;
  }
  main .OurTeam .container .team-cards {
    grid-template-columns: auto !important;
  }
  main .OurTeam .container .team-cards .team-card .team-img {
    width: 100px;
    height: 100px;
  }
  main .OurTeam .container .team-cards .team-card h3 {
    font-size: 19px !important;
  }
  main .OurTeam .container .team-cards .team-card p {
    font-size: 14px !important;
    margin-left: 16px;
  }
  main .OurTeam .container .team-cards .team-card .icons {
    padding-bottom: -20px;
  }
  main .sertificate {
    padding-bottom: 56px;
  }
  main .sertificate .container {
    padding: 20px !important;
  }
  main .sertificate .container .sertificate-content img {
    width: 335px !important;
    height: 238px;
  }
  main .sertificate .container .sertificate-content .sertificate-titles h3 {
    font-size: 19px !important;
  }
  main .sertificate .container .sertificate-content .sertificate-titles p {
    font-size: 14px !important;
    width: 304px !important;
  }
  footer .footer-cards .container {
    display: grid;
    grid-template-columns: auto auto !important;
    gap: 0 !important;
  }
  footer .footer-cards .container .footer-card:nth-child(1) {
    display: none !important;
  }
  footer .footer-cards .container .footer-card:nth-child(5) {
    display: block !important;
    margin-top: 24px;
  }
  footer .footer-cards .container .footer-card:nth-child(5) .footer-card-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-left: 44px;
    margin-bottom: -30px;
  }
  footer .footer-cards .container .footer-card:nth-child(3) {
    margin-left: -50px;
  }
  footer .footer-cards .container .footer-card:nth-child(4) {
    grid-column: 1/3;
    margin-top: 24px;
  }
}
.section-title {
  color: #1B1A18;
  font-family: Fira Code;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -0.06em;
  text-align: left;
  margin-bottom: 24px;
}

.section-titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-titles button {
  border: none;
}
.section-titles button:hover {
  background-color: transparent;
  color: #1B1A18;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
  transition: all 0.5s;
}
a:hover {
  color: #0076F5;
}
a:focus {
  outline: none;
}
a:visited {
  color: #1B1A18;
}
a:active {
  transform: scale(0.95);
}

ul, ol {
  list-style-type: none;
}

button {
  color: #0076F5;
  background: transparent;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s;
}
button:hover {
  color: #F5FAFF;
  background: #0076F5;
}
button:active {
  transform: scale(0.95);
}

span {
  color: #0076F5;
  font-family: Fira Code;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 207px;
}/*# sourceMappingURL=index.css.map */